:root {
    --whitecolor: #FFFFFF;
    background-color: whitesmoke;
}
header, .sec1, .sec4, .sec5 {
    background-color: #FFFFFF;
}
.destination-text-container {
    background-color: white;
    margin-top: -25px;
}
.find-destination {
    font-size: 30px;
    font-family: "Gilda Display";
}
#Gilda{
    font-family: "Gilda Display";
    font-weight: 400;
}
@font-face{
    font-family: "Urbanist";
    src: url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
}
.content {
    border: 4px solid #FFFFFF;
    width: 350px;
    background-color: #FFFFFF;
    margin-bottom: 15px;
}
.mirror-lake, .hot-air-ballon, .oeschinen-lake, .rhine-falls, .sunter-lake, .negeri-di-atas {
    transform: rotate(180deg);
}
.travel {
    color: #25a59e;
}
.menu-top {
    display: flex;
    gap: 225px;
    font-family: "Gilda Display";
}
.the-world {
    font-size: 40px;
    text-align: center;
}
.travel-green {
    color: #25A59E;
}
.mirror-lake {
    margin-left: -5px;
}
.icon-map {
    margin-top: -10px;
}
.jawa-t {
    margin-top: -19px;
    margin-left: 25px;
}
.hot-air-ballon {
    margin-left: -5px;
}
.icon-map-air {
    margin-top: -10px;
}
.turkey-cappa-d {
    margin-top: -19px;
    margin-left: 25px;
}
.oeschinen-lake {
    margin-left: -5px;
}
.icon-map-oeschinen {
    margin-top: -10px;
}
.pasuruan-i {
    margin-top: -19px;
    margin-left: 25px;
}
.rhine-falls {
    margin-left: -5px;
}
.icon-map-rhine {
    margin-top: -10px;
}
.jawa-ten {
    margin-top: -19px;
    margin-left: 25px;
}
.sunter-lake {
    margin-left: -5px;
}
.icon-map-sunter {
    margin-top: -10px;
}
.jawa-ten-gah {
    margin-top: -19px;
    margin-left: 25px;
}
.negeri-di-atas {
    margin-left: -5px;
}
.icon-map-negeri {
    margin-top: -10px;
}
.jawa-ten-gah-i {
    margin-top: -19px;
    margin-left: 25px;
}
.choose-us {
    text-align: center;
}
.around-for-years {
    margin-left: 10px;
}
.best-guide {
    border: 3px solid #F2F2F2;
    background-color: #FFFFFF;
    padding: 20px;
}
.best-experience {
    text-align: left;
}
.details-more {
    margin-left: 140px;
}
.special-tickets {
    border: 3px solid #F2F2F2;
    padding: 20px;
    margin-top: 10px;
    background-color: #25A59E;
}
.ready-always {
    border: 3px solid #F2F2F2;
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 10px;
}
.details-more-white {
    margin-left: 140px;
}
.travel-text {
    color: #25A59E;
}
.travel-green-i {
    color: #25A59E;
}
.shape-trapezium {
    margin-top: 110px;
    margin-bottom: -47px;
    margin-left: 25px;
}
.map-readers {
    margin-top: -199px;
    margin-left: -10px;
}
.entire-trip {
    text-align: center;
}
.travel-below{
    color: #25A59E;
}
.twitter {
    margin-right: -50px;
    margin-left: -95px;
}
.social-media {
    margin-left: 50px;
}
.ellipse_168 {
    margin-left: -8px;
    margin-top: -160px;
    margin-bottom: -18px;
    width: 318px;
}
.blogger-couple {
    margin-top: -192px;
    margin-left: -35px;
    margin-bottom: 10px;
    width: 360px;
}
.blurry {
    margin-top: -170px;
    margin-left: -7px;
}
.footer-menu {
    display: flex;
    gap: 25px;
    font-family: "Urbanist";
}
.travel-below {
    font-family: "Gilda Display";
}
@media(min-width: 1024px) {
    
}